body {
    /* background: url(../images/sparkle-background.jpg); */
    color: black;
}

h2 {
    text-shadow: 2px 2px 10px white;
    color:black;
}

h3, h5 {
    text-shadow: 2px 2px 10px lightskyblue;
    color:black;   
}

.container {
    width: 100%;
}


.crystals {
    height: 100px;
}

